/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

/* Wildcard selector to override dafault browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: rgb(39, 39, 39);
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #171717;
    color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}
/* Main */
main {
    background-color: lightblue;
    /* Makes main element take up surplus space and push down the footer */
        flex: 1 0 auto;
}
/* Footer */
footer  {
    background-color: yellow;
}